:root {
  --blue: #2766f1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links-column-content {
  display: flex;
  flex-direction: column;
}

.footer-text {
  color: white;
  font-size: 1rem;
}

.buttom-footer {
  font-size: 0.6rem;
}

.footer-bottom-section {
  display: flex;
  width: 100%;
  margin-top: 70px;
  justify-content: space-between;
}

.footer-bottom-links {
  display: flex;
}

.footer-links-column {
  display: flex;
  width: 185px;
  margin-top: 40px;
  flex-direction: column;
}

.footer-social-icon {
  height: 28px;
  width: 28px;
  margin-right: 0.8rem;
}

.footer-so-me-links {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.footer-so-me-links a {
  list-style: none;
}

.billy-logo {
  width: 115px;
  height: 38px;
  margin: 1rem 0;
}

.column-header {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.footer {
  background-color: #1d1d1b;
  color: white;
}

.footer-content {
  max-width: 1080px;
  padding: 130px 0 90px;
  margin: 0 auto;
}

.footer-contact-columns-container {
  display: flex;
}

.footer-logo-contact-column {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: flex-start;
}

.links-columns-container {
  display: flex;
}

.footer-small-bottum a {
  font-size: 0.7rem;
  color: grey;
  font-weight: 600;
  margin-right: 1rem;
}

.ds-button {
  display: inline-block;
  width: fit-content;
  padding: 19px 32px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  white-space: nowrap;
  color: white;
  border-radius: 7px;
  border: 1.5px solid white;
  background: var(--blue);
  margin-left: 2rem;
}

.ds-button:hover {
  border: 1.5px solid var(--blue);
  background: white;
  color: var(--blue);
}

.billy-logo-image {
  height: 38px;
  width: 115px;
}

.billy-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-single-link {
  margin-left: 30px;
}

.icon-text-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  height: 77px;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 10;
  background-color: white;
}

.navbar-centering-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  background-color: var(--blue);
}

.navbar-content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.navbar-outer-part {
  width: 220px;
}

.navbar-central-part {
  display: flex;
  width: 1140px;
  justify-content: space-between;
}

.navbar-icon-links-container {
  display: flex;
  align-items: center;
}

.navbar-signup-login-container {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-content {
  max-width: 1080px;
}

.dashboard-pic {
  width: 300px;
  height: 300px;
}

.style-iframe {
  position: relative;
  height: 100%;
  width: 200%;
  border-style: none;
  display: block;
  overflow: hidden;
}
.lp-components-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px 22px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 100%;
    padding: 0px 36px;
  }
}

.lp-wave-hero-themed {
  padding-top: 50px;
}

.content-image-container {
  display: flex;
  align-items: flex-end;
}

.themed-rich-text {
  margin-bottom: 35px;
}

.signup-form {
  height: 56px;
  width: 200px;
  z-index: 5;
  margin: 0px;
}

.form-inputs {
  display: flex;
  margin-bottom: 16px;
}

.form-group {
  margin-bottom: '0px';
}

.signup-input {
  background-color: white;
}

.form-hidden-input {
  display: none;
}

.form-controls {
  margin-bottom: 0;
}
.terms-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox-container {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.accept-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 22px;
}

.trustpilot-widget {
  height: 30px;
  transform: scale(0.8);
  margin: 40px 0 0 -172px;
}

.placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.placeholder-container {
  display: flex;
  justify-content: center;
  align-items: space;
  max-width: 1500px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: space;
  border: 3px solid black;
  flex: 0 0 40%;
  margin: 5rem;
}

.placeholder-title {
  font-size: 3rem;
  border: 3px solid black;
  padding: 3rem;
}

.placeholder-header {
  font-size: 6rem;
  align-content: center;
}
